<ion-view style="" class=" " id="page15" title="Recupera tu contraseña">
    <ion-content class="has-header" padding="true"  style="background: url(img/bg1.jpg) center; background-size: cover;">

    <form name="loginForm1" class="list ">
      <ion-list class=" ">

          <div class="app-icon"></div>

          <label class="item item-input item-floating-label">
              <span class="input-label" style="color: #9F9F9F;">Email</span>
              <input ng-model="user1.email" style="color: white;" type="email" placeholder="Email" id="emailito">
          </label>

      </ion-list>
      <div style="height: 40px;" class="spacer"></div>
      <button ng-click="forgotPass(loginForm1, user1)" class=" button button-assertive  button-block  icon-left ion-ios-email-outline ">RESTABLECER CONTRASENA</button>

    </form>

    </ion-content>
</ion-view>
