<ion-view style="" class=" " id="page13" title="Soporte">
    <ion-content class="has-header" padding="false" >

      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/arjunsk.jpg">
              </a>
              <p style="color: #ffffff;">Marcela</p>
            </div>
            <a class="button button-block button-balanced " href="whatsapp://send?phone=573226805080">
              <i class="icon-left ion-social-whatsapp-outline"></i> Abrir Whatsapp
            </a>
          </div>
        </div>

        <br/>

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/vishnu.jpg">
              </a>
              <p style="color: #ffffff;">William</p>
            </div>
            <a class="button button-block button-balanced " href="whatsapp://send?phone=573226805080">
              <i class="icon-left ion-social-whatsapp-outline"></i> Abrir Whatsapp
            </a>
          </div>
        </div>



      </ion-list>





    </ion-content>
</ion-view>
